<div style="width: 100%; height: 80px; background-color: var(--cor2); position: fixed;" >
    <div style="display: flex; align-items: center; height: 100%;">
        <div class="logo" (click)="goTo(0)">
            <img src="../../../assets/LogoPalpitin.png" style="height: 100%; width: 60px" alt="">
        </div>
        <div class="divs" style="margin-right: 40px;" (click)="goTo(0)">
            <h3 class="mb-0">HOME</h3>
        </div>
        <div class="divs" (click)="goTo(1)">
            <h3 class="mb-0">POLÍTICAS DE PRIVACIDADE</h3>
        </div>
    </div>
</div>