<div style="min-height: calc(100vh - 80px); width: 100%;">
    <div class="imgTexto">
        <div class="texto">
            <div class="pd-rg">
                <h3>Aqui você pode simular a venda de um palpite lotérico em varias modalidades, QUADRA, QUINA, SENA assim como
                    pode personalizar suas próprias modalidades.</h3>
            </div>
        </div>
        <img src="../../assets/image3.PNG" alt="">
    </div>
    <div class="imgTexto">
        <img src="../../assets/image2.PNG" alt="">
        <div class="texto">
            <div class="pd-lf">
                <h3>Reveja suas intenções de jogos.</h3>
                <h3>Sorteios passados.</h3>
                <h3>Possíveis premios.</h3>
            </div>
        </div>
    </div>
    <div class="imgTexto">
        <div>
            <h3>Garantimos sua privacidade.</h3>
        </div>
        <img src="../../assets/image1.PNG" alt="">
    </div>
</div>